body {
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/855/715/723/black-cool-dark-laptop-background-wallpaper-preview.jpg);
  font-family: "Lexend Exa", sans-serif;
  background-position: center;
}
h1{
  text-align: center;
  font-size: 6.5em;
  color: #fff;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
  padding-top: 300px;
  }
  .btn-social_ig:after {
    margin: -5px 0 0 -8px;
    width: 16px;
    height: 10px;
    background-position: -22px -39px;
  }
  nav {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: 2px solid #000000;
    border-radius: 20px;
    animation: slide-in 1s ease-out;
    background-color: rgb(255, 255, 255);

  }
  
  ul {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 30px;
    list-style-type: none;
  }
  ul li:not(:last-child) {
    margin-right: 50px;
  }
  ul li {
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    transition: background 0.2s;
  }
  ul li a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: block;
    margin: 12px -12px;
    padding: 0;
    background: #FFA91B;
    border: 2px solid #F7C833;
    border-right: 2px solid #F89329;
    border-bottom: 2px solid #F89329;
    border-radius: 10px;
    transition: opacity 0.2s, visibility 0.2s;
  }
  ul li ul li {
    margin: -2px 0 0 -2px;
    width: calc(100% - 20px);
    line-height: 1.7;
  }
  ul li ul li a {
    color: #2375D8;
  }
  ul li:hover {
    background: #000000;
    border: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }
  ul li:hover a {
    color: #F9F8FD;
  }
  ul li:hover ul {
    visibility: visible;
    opacity: 1;
    box-shadow: 0px 3px 5px 2px #EBECF1;
  }
  ul li:hover ul li a {
    color: #F9F8FD;
  }
  
  @keyframes slide-in {
    0% {
      top: -50px;
    }
    40% {
      top: 20px;
    }
    70% {
      top: 10px;
    }
    100% {
      top: 15px;
    }
  }
  @keyframes blur {
    from {
      text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff, 
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;
    }
  }